body{
background-color: #232323;
margin: 0;
font-family: 'Montserrat', '_Avenir_';
letter-spacing: 1px;
}

h1	{
	font-weight: normal;
	line-height: 1.1;
	text-align: center;
	color: white;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}
button	{
	font-family: 'Montserrat', '_Avenir_';
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	letter-spacing: 1px;
	color: steelblue;
	font-size: inherit;
	transition: all 0.3s;

}
button:hover {
	background-color: steelblue;
	color: white;
}

.square{
width: 30%;
background: purple;
padding-bottom: 30%;
float: left;
margin: 1.66%;
border-radius: 15%;

}

#message{
	display: inline-block;
	width: 20%;
}
#container {
	margin: 0 auto;
	max-width: 600px;
}
#stripe
{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;

}
#colordisplay{
font-weight: bold;
font-size: 200%;
}

.selected
{
	background-color: steelblue;
	color: white;
}