body{
background-color: #232323;
margin: 0;
font-family: 'Montserrat', '_Avenir_';
}

h1	{
	font-weight: normal;
	line-height: 1.1;
	text-align: center;
	color: white;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}
button	{
	border: none;
	background: none;
}

.square{
width: 30%;
background: purple;
padding-bottom: 30%;
float: left;
margin: 1.66%;

}
#container {
	margin: 0 auto;
	max-width: 600px;
}
#stripe
{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;

}
#colordisplay{
font-weight: bold;
font-size: 200%;
}

.selected
{
	background-color: steelblue;
}